<% labeled_form_for @assignment do |f| -%>
<fieldset>  
  <%= f.text_area :text, :class => "countdown limit_122_" %>
  <strong><span class="remaining"></span></strong>
  <%= f.text_field :tag, :size => 5 %>  
  <%= f.date_select :date %>
  <p>
    <% if @assignment.new_record? -%>
      <%= f.submit 'Create' %> or
      <%=  link_to 'Cancel', assignments_path %>
    <% else -%>
      <%= f.submit 'Update' %> or
      <%=  link_to 'Cancel', assignments_path %>
    <% end -%>
  </p>
</fieldset>
<% end -%>
