<div class="span-22 prepend-1 append-1 last" id="second">
<h2>Assignments</h2>	
</div>

<div class="span-22 prepend-1 append-1 last">
<% @assignments.each do |assignment| -%>
  <div class="assignment-rect">
    <% photo = assignment.photos.with_photog.first %>
    <% if photo -%>
    <div class="icon">
      <%= link_to image_tag(photo.thumb_url, :alt => photo.url), assignment_url(assignment), :title => ""%>
      <div class="credit">
	    <%= link_to photo.photog_screen_name, photog_url(photo.photog_screen_name) %>
	  </div>
    </div>
    <% end %>
    <div class="info">
	   <div><span class="hash"><%= link_to(assignment.tag,assignment_url(assignment))  %></span> // <%= pluralize(assignment.photos.count, 'photo') %></div>
	  <div class="text"><%= assignment.text %></div>
	</div>
  </div>
<% end -%>

</div>
