<div class="span-22 prepend-1 append-1 last" id="assignment">
<div class="today">The Daily Shoot assignment for <%= @assignment.date %> was:</div>
<div class="text"><%= @assignment.text %></div>
<div class="hashtag">There have been <%= @assignment.photos.count %> replies tweeted to this assignment</div>
</div>

<div class="span-24" id="photowall">	
<% @assignment.photos.with_photog.in_groups_of(10).each do |row| -%>
  <% content_tag :div, :class => 'row' do -%>
    <% row.each do |photo| -%>
      <% next if photo == nil -%>
      <% content_tag :div, :class => 'photo-thumb' do -%>


        <%= link_to image_tag(photo.thumb_url, :alt => photo.url), photo.url, :title => "", :rel => 'nofollow', :popup => true %>
        <% content_tag :div, :class => 'photo-caption' do -%>
           <%= link_to photo.photog_screen_name, photog_url(photo.photog_screen_name) %>
        <% end -%>
      <% end -%>
	<% end -%>
  <% end -%>
  <br clear="all">
<% end -%>
</div> <!-- end photowall -->


<p>
<%= link_to 'All Assignments', assignments_path %>