<% @page_title = 'Assignment' %>
<div class="span-22 prepend-1 append-1 last" id="second">
<div class="today">The Daily Shoot assignment for <%= @assignment.tweet_date %>:</div>
<div class="text"><%= h @assignment.text %></div>
<div class="hashtag">
  There are <%= pluralize(@photos.count, 'photo') %> tweeted to this assignment with the 
  <%= link_to "##{@assignment.tag}", "http://twitter.com/#search?q=%23#{@assignment.tag}" %>   
  hashtag.
</div>
</div>

<% nav = render :partial => 'assignments/navigation', 
                :locals => {:assignment => @assignment} %>
<% if @photos.count > 0 -%>
<%= nav %>
<%= render :partial => 'shared/photowall', 
           :locals => {:photos => @photos.shuffle, :caption => 'photog'} %>

<% else -%>
<div class="assignment-nophotos">
No photographs for this assignment yet.
<br>
Get out there and be one of the first to make a photo!
</div>
<% end -%>

<%= nav %>