<div id="second" class="span-22 prepend-1 append-1 last">
<h2>Upcoming Assignments</h2>
</div>

<div class="span-22 prepend-1 append-1 last">
<p>
  <%= link_to 'New Assignment', new_assignment_path %>
</p>

<ul id="assignments" style="padding-left: 0;">
<% @assignments.each do |assignment| -%>
  <% content_tag_for :li, assignment, :style => "list-style: none; padding: 2px 0;" do -%>
    <hr/>
    <p>
      <strong>#<%= assignment.position %></strong>. <%= assignment.as_tweet %>
    </p>
    <p>
      [
      <% if assignment.can_move_higher(@lowest_position) -%>
      <%= link_to "Up", reorder_assignment_path(assignment, :direction => 'up') %> |
      <% end -%>
      <%= link_to "Down", reorder_assignment_path(assignment, :direction => 'down') %> |
      <%= link_to 'Edit', edit_assignment_path(assignment) %> |
      <%= link_to 'Delete', assignment, :confirm => 'Are you sure?', :method => :delete %>
      ]
    </p>
  <% end -%>
<% end -%>
</ul>
</div>