<div id="second" class="span-22 prepend-1 append-1 last">
<h2>Upcoming Assignments</h2>
</div>

<div class="span-22 prepend-1 append-1 last">
<p>
  <%= link_to 'New Assignment', new_assignment_path %>
</p>

<ul id="assignments" style="padding-left: 0;">
<% @assignments.each do |assignment| -%>
  <li style="list-style: none; padding: 2px 0;">
    <hr/>
    <p>
      <%= assignment.as_tweet %>
    </p>
    <p>
      ( <%= link_to 'Edit', edit_assignment_path(assignment) %> |
       <%= link_to 'Delete', assignment, :confirm => 'Are you sure?', 
                                           :method => :delete %> |
       <%= link_to 'Photos', assignment_photos_path(assignment) %> )
    </p>
  </li>
<% end -%>
</ul>
</div>