<div class="span-22 prepend-1 append-1 last" id="second">
	<div class="today">
	  <%= link_to "Today&rsquo;s Daily Shoot assignment", assignment_url(@assignment) %> is:
	</div>
	<div class="text">
	  <%= h @assignment.text %>
	</div>
	<div class="action">
	  Get out there, take a photograph, upload it, and tweet a link to 
	  <a href="http://twitter.com/dailyshoot">@dailyshoot</a> with the hashtag: 
	  <%= link_to "##{@assignment.tag}", "http://twitter.com/#search?q=%23#{@assignment.tag}" %>
	</div>
</div>

<%= render :partial => 'shared/photowall', 
           :locals => {:photos => @photos, :caption => 'photog'} %>

<div class="span-24 last" id="allaboutit">
	<div class="span-22 prepend-1 append-1 last" id="stats">
		<div class="count">
		  <%= link_to "#{@photog_count} photographers", photogs_url %> 
		  have made <%= @photos_count %> photos for 
		  <%= link_to "#{@assignment_count} assignments", assignments_url %>.
		</div>
	</div>

	<div class="span-12 prepend-1 append-1" id="mission">
		<p>
		  Photography is an art and a craft. Getting better at both requires practice&mdash;lots
      of practice. <strong> The Daily Shoot is a simple daily routine to motivate and
      inspire you to practice your photography, and share your results!</strong> It&rsquo;s
      not a contest and there are no prizes. It's simply about encouraging you to pick up
      your camera and make photographs.
    </p>
    <p>
      It's easy to get started! Here&rsquo;s how:
		</p>

    <ol style="padding-left: 2em;">
      <li>
        <p>
          <a href="http://twitter.com/dailyshoot">Follow @dailyshoot</a> on Twitter. Every
          day at 9 AM EST (14:00 GMT) a new photo assignment is posted to the @dailyshoot
          twitter account.  Some assignments are simple to help you keep the momentum, and
          others are more challenging to push you to learn something new.
        </p>
      </li>
      <li>
        <p>
          When you make a photo for the assignment you want to share, simply upload it to one of the <%= link_to "supported photo sharing sites", :controller => "welcome", :action => "services" %>.
        </p>
      </li>
      <li>
        <p>
          Tweet a link to your photo mentioning @dailyshoot and the assignment&rsquo;s
          hashtag (<a href="http://twitter.com/lyzadanger/statuses/6183876947">example</a>).
          Several times an hour the Daily Shoot elves process these tweets and add thumbnails to
          your photos on this site.
        </p>
      </li>
    </ol>

		<p>Two suggestions: First, don't short change yourself by responding to an assignment with an old picture. Get out there and make something new and fresh. Second, while it's easy to take lots of shots, choose your best one to link to with your tweet. Choosing your best exercises your editing skills, and that's valuable too.</p>
        
		<p>That's it. There aren't any other rules. You aren't going to get demerits if you miss a few days, nor will you get gold stars for doing every assignment. We're just here to help you with a little nudge every day. The rest is up to you!</p>

		<p>
		  Have an assignment suggestion? 
		  <%= link_to "Let us know!", new_suggestion_url %>
    </p>
	</div>

	<div class="span-8 prepend-1 append-1 last" id="about">
		<h3>Who&rsquo;s Behind This?</h3>

		<p><a href="/photogs/duncan"><img src="/images/duncan.jpg" width="75" height="110" style="float: right; margin-left: 10px; border: 1px #ccc solid;"></a><a href="http://duncandavidson.com">James Duncan Davidson</a> is a photographer, author, and recovering software developer. He travels around the world shooting events like TED and Web 2.0 Summit. Some of his photographs appear in his <a href="http://www.flickr.com/photos/x180/">Flickr stream</a>.</p>

		<p><a href="/photogs/clarkware"><img src="/images/mike.jpg" width="75" height="110" style="float: left; margin-right: 10px;  border: 1px #ccc solid;"></a><a href="http://clarkware.com/about.html">Mike Clark</a> is a programmer, consultant, and author based in Denver, CO. He also runs training events through The Pragmatic Studio. You can find some of his photography in his <a href="http://www.flickr.com/photos/clarkware/">Flickr stream</a>.</p>

		<p>Some of the code that makes this site hum along was written by <a href="http://twitter.com/ujh">Urban Hafner</a> and <a href="http://twitter.com/patricklenz">Patrick Lenz</a>. The Daily Shoot website runs on <a href="http://heroku.com/">Heroku</a> and is underwritten by <a href="http://luma-labs.com">Luma Labs</a>.</p>

	</div>
</div>
