<div class="span-22 prepend-1 append-1 last" id="second">
	<div class="today"><%= link_to "Today&rsquo;s Daily Shoot assignment", assignment_url(@assignment) %> is:</div>
	<div class="text"><%= @assignment.text %></div>
	<div class="action">Get out there, take a photograph, upload it, and tweet a link to <a href="http://twitter.com/dailyshoot">@dailyshoot</a> with the hashtag: <%= link_to "##{@assignment.tag}", "http://twitter.com/#search?q=%23#{@assignment.tag}" %></div>
</div>

<%= render :partial => 'shared/photowall', :locals => {:photos => @photos, :caption => 'photog'} %>

<div class="span-24 last" id="allaboutit">
	<div class="span-22 prepend-1 append-1 last" id="stats">
		<div class="count"><%= link_to "#{@photog_count} photographers", '/photogs' %> have made <%= @photos_count %> photos for <a href="/assignments"><%= @assignment_count %> assignments</a>.
		</div>
	</div>

	<div class="span-12 prepend-1 append-1" id="mission">
		<p>The Daily Shoot is a simple tool that encourages the daily practice of photography. It&rsquo;s not a contest. There aren&rsquo;t any prizes. We&rsquo;re simply about helping you pick up the camera and make photographs.</p>

		<p>Here&rsquo;s how it works: Every day at 9AMEST (14:00 GMT) a new photo assignment is pushed to the <a href="http://twitter.com/dailyshoot">@dailyshoot</a> twitter account. Sometimes it&rsquo;ll be simple. Sometimes it may be challenging, requiring you to do a bit of research. Either way, that&rsquo;s your cue to get out there and make a few photographs.</p>

		<p>When you come up with a photo you want to share, simply upload it to one of the major photo sharing sites (Flickr, The Best Camera, SnapTweet, TwitPic, TweetPhoto, yfrog,  and imgur all work) and then tweet a link to it mentioning @dailyshoot and the assignment&rsquo;s hashtag. <a href="http://twitter.com/lfrances/status/6352379139">Here&rsquo;s an example</a>. We&rsquo;ll periodically process these tweets (every hour or so, most hours) and include thumbnails to your photos here on this site, just like the 30 recent photos above.</p>

		<p>Lastly, two small requests: Please don&rsquo;t short-change yourself and post a pic that you already have. The idea is to get out there and practice on a daily basis. Second, while you might want to post several pics, please choose your best photo of the assignment to post. Editing is a skill that needs practice too!</p>

		<p>Have an assignment suggestion? <%= link_to "Let us know!", :controller => :suggestions, :action => :new %></a></p>
	</div>

	<div class="span-8 prepend-1 append-1 last" id="about">
		<h3>Who&rsquo;s Behind This?</h3>

		<p><a href="/photogs/duncan"><img src="/images/duncan.jpg" width="75" height="110" style="float: right; margin-left: 10px; border: 1px #ccc solid;"></a><a href="http://duncandavidson.com">James Duncan Davidson</a> is a photographer, author, and recovering software developer. He travels around the world shooting events like TED and Web 2.0 Summit. Some of his photographs appear in his <a href="http://www.flickr.com/photos/x180/">Flickr stream</a>.</p>

		<p><a href="/photogs/clarkware"><img src="/images/mike.jpg" width="75" height="110" style="float: left; margin-right: 10px;  border: 1px #ccc solid;"></a><a href="http://clarkware.com/about.html">Mike Clark</a> is a programmer, consultant, and author based in Denver, CO. He also runs training events through The Pragmatic Studio. You can find some of his photography in his <a href="http://www.flickr.com/photos/clarkware/">Flickr stream</a>.</p>

		<p>Some of the code that makes this site hum along was written by <a href="http://twitter.com/ujh">Urban Hafner</a> and <a href="http://twitter.com/patricklenz">Patrick Lenz</a>. The Daily Shoot website runs on <a href="http://heroku.com/">Heroku</a> and is underwritten by <a href="http://luma-labs.com">Luma Labs</a>.</p>

	</div>
</div>
