
<div class="span-22 prepend-1 append-1 last" id="assignment">
<div class="today">Today&rsquo;s Daily Shoot assignment is:</div>
<div class="text"><%= @assignment.text %></div>
<div class="action">Get out there, take a photograph, upload it, and tweet a link to <a href="http://twitter.com/dailyshoot">@dailyshoot</a> with the hashtag: <%= link_to "##{@assignment.tag}", "http://twitter.com/#search?q=%23#{@assignment.tag}" %></div>
</div>


<div class="span-24 last" id="photowall">	
<% @photos.in_groups_of(10).each do |row| -%>
  <% content_tag :div, :class => 'row' do -%>
    <% row.each do |photo| -%>
      <% content_tag :div, :class => 'photo-thumb' do -%>


        <%= link_to image_tag(photo.thumb_url, :alt => photo.url), photo.url, :title => "", :rel => 'nofollow', :popup => true %>
        <% content_tag :div, :class => 'photo-caption' do -%>
           <%= link_to photo.photog_screen_name, photog_url(photo.photog_screen_name) %>
        <% end -%>
      <% end -%>
	<% end -%>
  <% end -%>
  <br clear="all">
<% end -%>
</div> <!-- end photowall -->

<div class="span-24 last" id="allaboutit">
<div class="span-12 prepend-1 append-1" id="mission">
<p>The Daily Shoot is a simple tool that encourages the daily practice of photography. It&rsquo;s not a contest. There aren&rsquo;t any prizes. We&rsquo;re simply about helping you pick up the camera and make photographs.</p>

<p>Since we&rsquo;ve started, <span class="stats"><%= link_to "#{@photog_count} photographers", '/photogs' %> have tagged <%= @photos_count %> daily shoot photos.</span></p>

<p>Here&rsquo;s how it works: Every day at 9AMEST (14:00 GMT) a new photo assignment is pushed to the <a href="http://twitter.com/dailyshoot">@dailyshoot</a> twitter account. Sometimes it&rsquo;ll be simple. Sometimes it may be challenging, requiring you to do a bit of research. Either way, that&rsquo;s your cue to get out there and make a few photographs.</p>

<p>When you come up with a photo you want to share, simply upload it to one of the major photo sharing sites and then tweet a link it to @dailyshoot with the assignment&rsquo;s hashtag. We&rsquo;ll periodically process those tweets (every hour or so, most hours) and include thumbnails to your photos here on this site, just like the 30 recent photos above.</p>

<p>Have an assignment suggestion? We&rsquo;ll soon have a form for you!</p>
</div>

<div class="span-8 prepend-1 append-1 last" id="about">
<h3>Who&rsquo;s Behind This?</h3>

<p><img src="/images/duncan.jpg" width="75" height="110" style="float: right; margin-left: 10px; border: 1px #ccc solid;"><a href="http://duncandavidson.com">James Duncan Davidson</a> is a photographer, author, and recovering software developer. He travels around the world shooting events like <a href="http://conferences.ted.com/TEDIndia/">TEDIndia</a> and <a href="http://www.web2summit.com/web2009">Web 2.0 Summit</a>. You can find some of his photography in his <a href="http://www.flickr.com/photos/x180/">Flickr stream</a>.</p>

<p><img src="/images/mike.jpg" width="75" height="110" style="float: left; margin-right: 10px;  border: 1px #ccc solid;"><a href="http://clarkware.com/about.html">Mike Clark</a> is a programmer, consultant, and author based in Denver, CO. He also runs training events through <a href="http://http://pragmaticstudio.com/">The Pragmatic Studio</a>. You can find some of his photography in his <a href="http://www.flickr.com/photos/clarkware/">Flickr stream</a>.</p>

<p>Some of the <a href="http://github.com/duncan/dailyshoot">code that makes this site hum along</a> was written by <a href="http://github.com/ujh">Urban Hafner</a> and <a href="http://github.com/scoop">Patrick Lenz</a>.</p>

</div>
</div>
