<div id="second" class="span-22 prepend-1 append-1 last">
<h2><%= "Mention #{@mention.id}" %></h2>
</div>

<div class="span-22 prepend-1 append-1 last">

<p>
  <%= link_to @mention.screen_name, photog_path(@mention.screen_name) %> tweeted 
  (#<%= h @mention.tweet_id %>):
</p>

<p>
  <strong><%= auto_link @mention.text %></strong>
</p>

<p>
  <b>Parsed:</b>
  <%= @mention.was_parsed %>
</p>

<%= link_to 'Edit', edit_mention_path(@mention) %> |
<%= link_to "Reparse", parse_mention_path(@mention), :method => :post %> |
<%= link_to 'Destroy', @mention, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'All Mentions', mentions_path %>

</div>