<div id="second" class="span-22 prepend-1 append-1 last"><h2><%= "Mention #{@mention.id}" %></h2></div>

<div class="span-22 prepend-1 append-1 last">
<p>
  <b>Tweet ID:</b>
  <%=h @mention.tweet_id %>
</p>

<p>
  <b>Text:</b>
  <%=h @mention.text %>
</p>

<p>
  <b>Screen name:</b>
  <%=h @mention.screen_name %>
</p>

<%= link_to 'Edit', edit_mention_path(@mention) %> |
<%= link_to 'All Mentions', mentions_path %>
</div>