<div id="second" class="span-22 prepend-1 append-1 last">
<h2>Suggestions</h2>
</div>

<div class="span-22 prepend-1 append-1 last">
<% @suggestions.each do |suggestion| -%>
  <p>
    <%= suggestion.created_at.to_s(:at) %> -
    <em><%= h suggestion.name %></em> 
    (<%= link_to "@#{suggestion.twitter_user_name}", 
                 "http://twitter.com/#{suggestion.twitter_user_name}" %>) said:
  </p>
  <p>
    <strong><%= h suggestion.suggestion %></strong>
  </p>
  <p>
    <%= link_to 'Delete', suggestion, 
          :confirm => 'Are you sure?', :method => :delete %>
  </p>
  <hr/>
<% end -%>
</div>