<h2>Suggestions</h2>

<% @suggestions.each do |suggestion| -%>
  <p>
    <%= suggestion.created_at.to_s(:at) %> -
    <em><%= h suggestion.who %></em> (<%= h suggestion.email || "no email" %>) said:
  </p>
  <p>
    <strong><%= h suggestion.what %></strong>
  </p>
  <p>
    <%= link_to 'Delete', suggestion, 
          :confirm => 'Are you sure?', :method => :delete %>
  </p>
  <hr/>
<% end -%>