<h2>Assignment Suggestion</h2>

<% labeled_form_for @suggestion do |f| -%>
<fieldset>  
  <p>
    <%= label_tag :who, 'Name' %>
    <%= text_field_tag :who %>
  </p>
  <p>
    <%= label_tag :what, 'Suggestion' %>
    <%= text_area_tag :what, nil, :rows => 5, :cols => 25 %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
</fieldset>
<% end -%>
