<h2>Assignment Suggestion</h2>

<% form_for @suggestion do |f| -%>
<fieldset>  
  <p>
    <%= f.label :who, 'Name' %>
    <%= f.text_field :who %>
  </p>
  <p>
    <%= f.label :email, 'E-mail' %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :what, 'Suggestion' %>
    <%= f.text_area :what, :rows => 3, :cols => 25 %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
</fieldset>
<% end -%>
