<div id="second" class="span-22 prepend-1 append-1 last">
<h2>Assignment Suggestion</h2>
</div>

<div class="span-12 prepend-1 appened-1">

<% form_for @suggestion do |f| -%>
<%= f.error_messages %>
<fieldset>  
  <p>
    <%= f.label :who, 'Name' %>
    <%= f.text_field :who %>
  </p>
  <p>
    <%= f.label :email, 'E-mail' %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :what, 'Suggestion' %>
    <%= f.text_area :what, :rows => 3, :cols => 25 %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
</fieldset>
<% end -%>
</div>

<div class="span-9 prepend-1 last">
<p>Thanks for making a suggestion for a Daily Shoot assignment. As you can imagine, keeping a fresh supply of assignments on tap can be a challenge. Here are a few thoughts to help create a quality assignment:</p>

<p>First, since photographers of all skill levels are following the Daily Shoot, be sure to make your assignment just broad enough that everyone can follow along.</p>
<p>Second, keep in mind that our audience is worldwide. We sometimes post assignments with a US bias, but try to always make sure to make them approachable by anybody anywhere in the world.</p>
<p>Third, keep it short and sweet. We fit our assignments into 120 chars. It can be challenging to edit assignments down to that size!</p>

<p>Lastly, please understand that we reserve the right to use or not use assignments at our discretion. As well, we reserve the right to schedule the assignments as we see appropriate. Thanks in advance for your understanding!</p> 

</div>