<!DOCTYPE html> <!-- HTML5 FTW-->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= @title || 'The Daily Shoot' %></title>
	<link rel="stylesheet" href="<%= stylesheet_path 'blueprint/screen' %>" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="<%= stylesheet_path 'blueprint/print' %>" type="text/css" media="print">
	<!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="<%= stylesheet_path 'main' %>" type="text/css" media="screen, projection">
		
	<link rel="alternate" type="application/rss+xml" title="Assignments RSS" 
        href="http://feeds2.feedburner.com/dailyshoot_assignments">
</head>

<body>
<div class="container"> 

<div id="top" class="span-23 append-1 last">
  <h1><%= link_to "The Daily Shoot", root_url %></h1>
</div>

<% flash.each do |name, message| -%>
  <%= content_tag :div, message, :id => "flash_#{name}" %>
<% end -%>

<%= yield :layout %>

<div id="bottom" class="span-22 prepend-1 append-1 last">
Copyright &copy;2009
<br>
Third party content (Tweets and photo thumbnails from third party services such as Flickr) belongs to their respective owners and is accessed by public API.
<br>
All other content licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 License</a>.
</div>

<div> <!-- container -->


<%# JavaScript content at the end of the page so that it can load in after page display. This is from the Yahoo performance guidelines. %>

<%= javascript_include_tag('jquery', 'application')  %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7818568-6");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>